.filters-group-container {
  font-family: Roboto;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;

    flex-shrink: 0;
  }
}

/* Write your CSS here */
.categoryhead {
  font-size: 20px;
}

.ulCont {
  padding: 0px;
  margin-left: 0px;
}
.clearFiltersButton {
  background-color: #0967d2;
  padding: 9px;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
